.post-text {
    text-align: center;
    font-size: 48px;
}

.post-item {
    background-color: green;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.text-bold {
    font-weight: 700;
}

.select {
    margin: 10px;
}